:root {
  --backgroundColor: black;
}
html{
  margin: 0;
  padding: 0;
  color: white;
  background-image: url('./asset/background/night.avif');
  background-size: cover;
}
body{
  margin: 0;
  padding:0;
}
::selection {
  background-color: inherit;
}
dialog {
  width: 300px;
  height: 200px;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.486);
}
.notification {
  padding-block: 20px;
}
.cancelButton {
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0.336);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainImage {
  width: 700px;
  padding-top: 60px;
}
.absoluteDescription {
  position: absolute;
  font-size: 2rem;
  top: 0;
}
.middleside {
  position: relative;
}
#inputMessage {
  height: 3rem;
  font-size: 2.5rem;
}
.clickButton {
  height: 3rem;
  border-radius: 1rem;
  background-color: white;
}
.clickButton:hover {
  background-color: rgba(180, 180, 180, 0.322) !important;
  cursor: pointer;
}
.todayWeather {
  font-size: 30px;
  font-weight: bold;
}
.side {
  flex: 1;
}
form {
  display: flex;
  flex-direction: column;
}
header {
  padding-inline: 40px;
}
.descriptionSection {
}
.after {
  text-align: center;
}
.afterDescriptionContainer {
  display: flex;
  justify-content: space-around;
}
h3 {
  white-space: pre-line;
  padding-bottom: 100px;
}
footer {
  bottom: 0;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
}
#loadingbackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgb(0, 26, 255) 1%,
    #bdf5ff 30%,
    rgb(2, 40, 165) 70%
  );
  background-size: 300% 300%;
  background-position: center;
  animation: 2s linear 1 load;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@keyframes load {
  100% {
    background-size: 100% 100%;
    background-image: radial-gradient(
       rgb(0, 26, 255) 1%,
    #bdf5ff 70%,
    );
  }
}